<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="./css/global.css">
	<link rel="stylesheet" href="./css/auth.css">
</head>
<body>
	<div>
		<h1>LOGIN</h1>
		<p height="18px" id="message"></p>
		<form id="form">
			<input type="text" placeholder="username.." id="usernameInput" required>
			<input id="passwordInput" type="password" placeholder="password..." required>
			<button type="submit">Log In</button>
		</form>
		<span>Not have an account <a href="/register">Register</a> here</span>
	</div>
	<script src="./js/request.js"></script>
	<script src="./js/login.js"></script>
</body>
</html>